<html>
    <head>
        <meta charset="utf-8">
        <title>vue3 instoduction</title>
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
      <a href="https://vue3js.cn/docs/zh/guide/installation.htm"></a>
      <a href="http://vue3.vue.local/instroduction.html"></a>
        <div id="counter">
            Counter: {{ counter }}
        </div>

        <div id="bind-attribute">
            <span v-bind:title="message">
              鼠标悬停几秒钟查看此处动态绑定的提示信息！
            </span>
        </div>

        <div id="event-handling">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">反转 Message</button>
        </div>

        <div id="two-way-binding">
            <p>{{ message }}</p>
            <input v-model="message" />
        </div>

        <div id="conditional-rendering">
            <span v-if="seen">现在你看到我了</span>
        </div>

        <div id="list-rendering">
            <ol>
              <li v-for="todo in todos">
                  {{todo.text}}
              </li>
            </ol>
        </div>

        <div id="list-component">
            <ol>
                <todo-list></todo-list>
            </ol>
        </div>
        
        <div id="todo-list-app">
            <ol>
               <!--
                现在我们为每个 todo-item 提供 todo 对象
                todo 对象是变量，即其内容可以是动态的。
                我们也需要为每个组件提供一个“key”，稍后再
                作详细解释。
              -->
              <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:index="item.id"
                v-bind:key="item.id"
              ></todo-item>
            </ol>
        </div>
    </body>
</html>
<script>
const Counter = {
    data() {
        return {
            counter: 0,
        }
    },
    mounted() {
        setInterval(() => {
            this.counter++
        }, 1000);
    }
}
Vue.createApp(Counter).mount('#counter');

const AttributeBinding = {
  data() {
    return {
      message: 'You loaded this page on ' + new Date().toLocaleString()
    }
  }
}
Vue.createApp(AttributeBinding).mount('#bind-attribute')

const EventHandling = {
  data() {
    return {
      message: 'Hello Vue.js!'
    }
  },
  methods: {
    reverseMessage() {
      this.message = this.message
        .split('')
        .reverse()
        .join('')
    }
  }
}
Vue.createApp(EventHandling).mount('#event-handling')

const TwoWayBinding = {
  data() {
    return {
      message: 'Hello Vue!'
    }
  }
}
Vue.createApp(TwoWayBinding).mount('#two-way-binding')

const ConditionalRendering = {
  data() {
    return {
      seen: true
    }
  }
}

Vue.createApp(ConditionalRendering).mount('#conditional-rendering')

const ListRendering = {
    data() {
        return{
            todos: [
                {text: 'aaa'},
                {text: 'bbb'},
                {text: 'ccc'},
            ]
        }
    }
}

Vue.createApp(ListRendering).mount('#list-rendering')

const ListComponent = {
    data() {
        return{
            todos: [
                {text: 'aaa'},
                {text: 'bbb'},
                {text: 'ccc'},
            ]
        } 
    }
}
const listComponentApp = Vue.createApp(ListComponent);
listComponentApp.component('todo-list', {
    props: ['todo'],
    template: `<li>this is a todo</li>`
});
listComponentApp.mount('#list-component');

const TodoList = {
  data() {
    return {
      groceryList: [
        { id: 0, text: 'Vegetables' },
        { id: 1, text: 'Cheese' },
        { id: 2, text: 'Whatever else humans are supposed to eat' }
      ]
    }
  }
}
const app = Vue.createApp(TodoList)
app.component('todo-item', {
  props: ['todo', 'index'],
  template: `<li>{{ todo.id }} - {{ index }} - {{ todo.text }}</li>`
})

app.mount('#todo-list-app')
</script>